<div class="container">
  <div class="row">
    <div class="box box-solid">
      <div class="box-body">
        <div class="col-md-4">
          <%= link_to "Back to Event", events_path, class: "btn btn-primary" %>
          <div class="new-group">
            <%= link_to "New Group", new_event_attendee_group_path, class: "btn btn-success" %>
          </div>
        </div>
        <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active?</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% @groups.each do |group| %>
                <tr>
                  <td><%= group.name %></td>
                  <td><%= group.description %></td>
                  <td><%= is_active(group.is_active) %></td>
                  <td><%#= link_to "Edit", "javascript:;", class: "btn btn-primary" %></td>
                  <td><%= link_to "Delete", event_attendee_group_path(group), method: :delete, class: "btn btn-danger", "data-confirm" => "Are you sure?" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
