<!DOCTYPE html>
<html>
  <head>
    <title>ThinkableLms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
  </head>
  <body class="current_domain" data-domain="<%= Apartment::Tenant.current %>">
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
